@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap');

:root {
    /* Başlık Yüksekliği */
    --header-height: 3.5rem;
    /* Renkler */
    --primary-color-hue:352;
    --dark-color-lightness: 17%;
    --light-color-lightness: 92%;
    --white-color-lightness: 100%;
    --color-white: hsl(252, 30%, var(--white-color-lightness));
    --color-light: hsl(252, 30%, var(--light-color-lightness));
    --color-gray: hsl(252, 15%, 65%);
    --color-primary: hsl(var(--primary-color-hue), 75%, 60%);
    --color-dark: hsl(252, 30%, var(--dark-color-lightness));
    /*Yazı tipi ve tipografi */
    --body-font: 'Rubik', sans-serif;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.75rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    /*Font kalınlığı  */
    --font-medium: 400;
    --font-semi-bold: 600;
    /*Alt Taraf Margini */
    --m-0-5: .5rem;
    --m-0-75: .75rem;
    --m-1: 1rem;
    --m-1-5: 1.5rem;
    --m-2: 2rem;
    --m-2-5: 2.5rem;
    /* Kart Dolgusu */
    --card-padding: 1.9rem 0.95rem;
    /*sınır yarıçapı */
    --border-radius: 1.25rem;
    /* Kutu Gölgesi */
    --box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
    
}
/* Responsive Typography */
@media screen and (max-width:992px) {
    :root {
        --h1-font-size: 1.75rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1rem;
        --normal-font-size: .938rem;
        --small-font-size: .813rem;
    }

}
@media only screen and (max-width:1200px) {

    .customize-theme .card {
        width: 50vw;
    }
   }

@media only screen and (max-width:968px) {

    .about-content,
    .about-img {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .about-img {
        text-align: center;
        margin-bottom: var(--m-2-5);
    }

    .prices,
    .services .service-item {
        flex: 0 0 50%;
        max-width: 50%;
        margin-bottom: var(--m-2-5);
    }

    .price-item.best {
        padding: var(--card-padding);
    }

    .prices:nth-child(odd) {
        margin-top: 0;
    }

    .prices:nth-child(1) {
        padding-right: 15px;

    }

    .prices:nth-child(2) {
        padding-right: 15px;
        padding-left: 15px;
    }

    .prices:nth-child(3) {
        padding-left: 15px;
    }
.customize-theme .card {
    width: 58vw;
}
}


@media only screen and (max-width:768px) {
    body {
        margin: var(--header-height) 0 0 0;

    }

    .container {
        max-width: 568px;
    }

    .nav {
        height: var(--header-height);
    }

    .nav-list {
        flex-direction: column;
        row-gap: 1.5rem;
    }

    .nav-menu {
        position: fixed;
        background: var(--color-white);
        width: 80%;
        height: 100%;
        top: 0;
        right: -100%;
        padding: 4rem 0 0 3rem;
        border-radius: 1rem 0 0 1rem;
        z-index: 100;
        transition: .3s;
    }

    /* Show menu */
    .show-menu {
        right: 0;
    }

    .nav-close,
    .nav-toggle {
        display: inline-flex;
    }
    .contact-data,
    .contact-form,
    .prices,
    .education, .experiance,
     .services .service-item,
    .about-content .about-text,
    .about-content .skills {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .fact-item,
    .blog-item,
    .portfolio-item {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .about-content .about-text {
        margin-bottom: var(--m-1-5);
    }
    .contact-data,
    .blog-item,
    .education {
        margin-bottom: var(--m-2-5);
    }
    .customize-theme .card {
        width: 75vw;
    }
}
@media only screen and (max-width:576px) {
    .blog-item,
    .portfolio-item
    {
    flex: 0 0 100%;
    max-width: 100%;
    }
    .blog-item .inner,
    .portfolio-item-inner{
        max-width: 380px;
        margin: 0 auto;
    }
    .timeline {
        padding: 25px 20px;
    }
    .timeline .timeline-item {
        padding-left: 35px;
        padding-bottom: 20px;
    }
    .customize-theme .card {
        width: 96vw;
        padding: 1rem;
    }
}
@media only screen and (max-width:320px) {
   ..fact-item {
       flex: 0 0 100%;
       max-width: 100%;
   }
    
}
@media only screen and (max-height:810px) {
    .scroll-down{
        display: none;
    }
     
 }
 @media only screen and (max-width: 1120px) {
 
    .right, .left{
        height: 900px;
        width: 100%;
        display: block;
        align-items: center;
        justify-content: center;

    }
    .left img{
        width: 250px;
        height: 250px;
        border-radius: 15px;
        box-shadow: 1px 0px 20px 12px rgba(240,240,240,0.2);
    }
    .right #artist{
        position: absolute;
        top: 110px;
        margin: 0 auto;
        text-align: center;
        transform: translateX(-50%);
        text-transform: capitalize;
        color: #fff;
        font-size: 18px;
    }
    .right .duration{
        position: absolute;
        left: 30%;
        transform: translateX(-50%);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 20px;
        margin-top: 40px;
    }
    .right #auto{
      display: none;
    }
    .right #auto i{
         display: none;
    }
    .left .volume{
        position: absolute;
        margin-bottom: -130px;
        left: 0;
        width: 100%;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
    }
    .right .middle button{
        border: none;
        height: 70px;
        width: 70px;
        border-radius: 50%;	
        display: flex;
        margin-right: 170px;
        cursor: pointer;
        outline: none;
        transition: 0.5s;
        background: rgba(255,255,255,0.1);
    }
    .player{
        width: 100% !important;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    .music{
        background: var(--color-light) !important;
    }
    .buttons{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 30px;
        width: 35% !important;
        margin-left: 25px !important;
    }
 }

 