@import "./googlefont.css";
:root {
    --header-height: 3.5rem;
    --primary-color-hue: 352;
    --dark-color-lightness: 17%;
    --light-color-lightness: 92%;
    --white-color-lightness: 100%;
    --color-white: hsl(252, 30%, var(--white-color-lightness));
    --color-light: hsl(252, 30%, var(--light-color-lightness));
    --color-gray: hsl(252, 15%, 65%);
    --color-primary: hsl(var(--primary-color-hue), 75%, 60%);
    --color-dark: hsl(252, 30%, var(--dark-color-lightness));
    --body-font: Rubik, sans-serif;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.75rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --font-medium: 400;
    --font-semi-bold: 600;
    --m-0-5: .5rem;
    --m-0-75: .75rem;
    --m-1: 1rem;
    --m-1-5: 1.5rem;
    --m-2: 2rem;
    --m-2-5: 2.5rem;
    --card-padding: 1.9rem .95rem;
    --border-radius: 1.25rem;
    --box-shadow: 0 5px 20px 0 rgba(69, 67, 96, 0.1)
}

.service-h3,
.service-p {
    color: #000 !important;
}

::-webkit-scrollbar {
    width: .6rem;
    background: var(--color-white)
}

::-webkit-scrollbar-thumb {
    background: var(--color-primary);
    border-radius: .5rem
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

html {
    scroll-behavior: smooth
}

body,
button,
input,
textarea {
    font-family: var(--body-font);
    font-size: var(--normal-font-size)
}

body {
    background-color: var(--color-light);
    color: var(--color-dark);
    line-height: 1.7;
    font-weight: var(--font-medium)
}

img {
    height: auto;
    vertical-align: middle;
    width: 100%
}

ul {
    list-style: none
}

a {
    text-decoration: none;
    color: var(--color-dark)
}

h1,
p,
.fa-gear {
    color: var(--color-dark);
}

h1,
h2,
h3 {
    font-weight: var(--font-semi-bold)
}

h1 {
    font-size: var(--h1-font-size)
}

h2 {
    font-size: var(--h2-font-size)
}

h3 {
    font-size: var(--h3-font-size)
}

.container {
    max-width: 968px;
    margin: auto
}

.container-more {
    margin-bottom: 2.5rem
}

.row {
    display: flex;
    flex-wrap: wrap
}

.section .container {
    padding-top: 8.5rem;
    padding-bottom: 8.5rem
}

.section-title {
    font-size: var(--h1-font-size);
    margin-left: var(--m-0-75);
    margin-bottom: var(--m-2-5)
}

.padd-15 {
    padding-left: 15px;
    padding-right: 15px
}

.btn {
    padding: .75rem 2rem;
    line-height: 1;
    border-radius: var(--border-radius)
}

.btn-default {
    color: #fff;
    vertical-align: middle;
    display: inline-block;
    background-color: var(--color-primary);
    transform: perspective(1px) translateZ(0)
}

.btn:focus {
    outline: 0
}

@keyframes button-push {
    50% {
        transform: scale(0.8)
    }
    100% {
        transform: scale(1)
    }
}

.btn-default:hover {
    animation-name: button-push;
    animation-duration: .3s;
    animation-timing-function: linear;
    animation-iteration-count: 1
}

.header {
    width: 100%;
    background-color: var(--color-light);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100
}

.nav {
    height: calc(var(--header-height) + 1.5rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 3rem
}

.nav-logo {
    font-size: var(--h2-font-size);
    font-weight: var(--font-semi-bold);
    letter-spacing: .125rem;
    position: relative
}

.nav-logo span {
    color: var(--color-primary)
}

.nav-logo::after {
    position: absolute;
    content: '';
    width: .3rem;
    height: .3rem;
    border-radius: 50%;
    top: 56%;
    right: -.25rem
}

.nav-menu {
    margin-left: auto
}

.nav-list {
    display: flex;
    column-gap: 1.8rem;
}

.nav-link {
    font-weight: var(--font-medium);
    transition: .3s
}

.nav-link:hover {
    color: var(--color-primary)
}

.nav-close {
    font-size: 1rem;
    position: absolute;
    top: 1rem;
    right: 1.15rem;
    cursor: pointer
}

.nav-btns {
    display: flex;
    align-items: center;
    column-gap: 1rem
}

.change-theme {
    color: var(--color-dark);
    font-size: 1.15rem;
    cursor: pointer
}

.nav-toggle {
    font-size: 1.2rem;
    cursor: pointer
}

.nav-close,
.nav-toggle {
    display: none
}

.active-link {
    position: relative
}

.active-link::before {
    content: '';
    position: absolute;
    bottom: -.75rem;
    left: 45%;
    width: .3rem;
    height: .3rem;
    background-color: var(--color-primary);
    border-radius: 50%
}

.scroll-header {
    box-shadow: 0 1px 4px rgba(165, 125, 125, 0.02)
}

.home {
    display: flex;
    justify-content: center;
    height: 100vh;
    min-height: 100vh
}

.home .intro {
    max-width: 540px;
    text-align: center
}

.home .intro img {
    margin-bottom: var(--m-1);
    border-radius: 50%;
    height: 250px;
    width: 250px;
    object-fit: cover;
    box-shadow: -6px -6px 14px #00000073, 6px 6px 10px #00000073;
}

.home .intro .social-icons {
    margin-top: var(--m-1-5);
    margin-bottom: var(--m-2)
}

.home .intro .social-icons li {
    display: inline-block
}

.home .intro .social-icons li:not(:last-child) {
    margin-right: var(--m-1-5)
}

.home .intro .social-icons a {
    font-size: var(--h3-font-size)
}

.scroll-down {
    position: absolute;
    bottom: var(--m-2-5);
    left: 0;
    width: 100%
}

.mouse-wrapper {
    font-size: var(--small-font-size);
    display: block;
    margin: auto;
    max-width: 100px;
    text-align: center
}

@keyframes ani-mouse {
    0% {
        top: 29%
    }
    15% {
        top: 50%
    }
    50% {
        top: 50%
    }
    100% {
        top: 29%
    }
}

.mouse {
    border: 2px solid var(--color-dark);
    display: block;
    height: 1.75rem;
    width: 1.25rem;
    margin: auto;
    margin-top: var(--m-0-75);
    border-radius: var(--border-radius);
    position: relative
}

.mouse .wheel {
    background-color: var(--color-dark);
    border-radius: 50%;
    width: .25rem;
    height: .25rem;
    position: absolute;
    top: var(--m-0-5);
    left: 40%;
    display: block;
    animation: ani-mouse 2s linear infinite
}

.about-img {
    flex: 0 0 25%;
    max-width: 25%
}

.avatar-img {
    border-radius: 50%;
    height: 250px;
    width: 250px;
    object-fit: cover
}

.about-content {
    flex: 0 0 75%;
    max-width: 75%
}

.about-content-more {
    flex: 0 0 99%;
    max-width: 99%;
    margin-top: 3.5rem
}

.about-content .about-text,
.about-content .skills {
    flex: 0 0 50%;
    max-width: 50%
}

.rounded {
    background-color: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--border-radius);
    margin-left: var(--m-2-5);
    box-shadow: -3px -3px 7px rgba(0, 0, 0, 0.212), 3px 3px 5px rgba(0, 0, 0, 0.212);
}

.about-text p {
    text-align: justify;
    margin-bottom: var(--m-1)
}

.about-content .skills .skill-item {
    flex: 0 0 100%;
    max-width: 100%
}

.about-content .skills .skill-item h4 {
    margin-bottom: var(--m-0-75)
}

.about-content .skills .skill-item .progress {
    background-color: var(--color-light);
    height: .45rem;
    border-radius: var(--border-radius);
    width: 100%;
    position: relative
}

.about-content .skills .skill-item:not(:last-child) {
    margin-bottom: var(--m-1-5)
}

.about-content .skills .skill-item .progress .progress-in {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    border-radius: var(--border-radius)
}

.about-content .skills .skill-item .skill-percent {
    position: absolute;
    right: 0;
    top: -2.5rem
}

.section-title span {
    color: var(--color-primary)
}

.fact-item {
    flex: 0 0 25%;
    max-width: 25%;
    margin-top: var(--m-2-5);
    text-align: center
}

.fact-item i {
    font-size: var(--h2-font-size);
    color: var(--color-gray)
}

.services .service-item {
    flex: 0 0 33.33%;
    max-width: 33.33%;
    display: flex
}

.services .service-item .service-item-inner {
    border-radius: var(--border-radius);
    padding: var(--card-padding);
    text-align: center;
    transform: translateY(0);
    transition: .3s
}

.services .service-item .service-item-inner:hover {
    transform: translateY(-0.625rem)
}

.services .service-item i {
    font-size: 4rem;
    margin-bottom: var(--m-0-75);
    color: var(--color-dark)
}

.service-item h3 {
    margin-bottom: var(--m-0-5);
    color: #fff
}

.text {
    text-align: center;
    margin-top: var(--m-1-5)
}

.text a {
    color: var(--color-primary)
}

.education {
    flex: 0 0 50%;
    max-width: 50%
}

.experience {
    flex: 0 0 50%;
    max-width: 50%
}

.timeline-box {
    flex: 0 0 100%;
    max-width: 100%;
    box-shadow: -3px -3px 7px rgba(0, 0, 0, 0.212), 3px 3px 5px rgba(0, 0, 0, 0.212);
}

.timeline {
    background-color: var(--color-white);
    padding: 1.9rem .95rem;
    border-radius: var(--border-radius);
    width: 100%;
    position: relative
}

.timeline .timeline-item {
    position: relative;
    padding-left: 2.5rem;
    padding-bottom: 1.9rem
}

.timeline .timeline-item:last-child {
    padding-bottom: 0
}

.timeline .timeline-item::before {
    content: '';
    width: 1px;
    position: absolute;
    height: 100%;
    left: var(--m-0-5);
    background-color: var(--color-primary);
    top: 0
}

.timeline .timeline-item .fa-timeline-icon {
    position: absolute;
    left: -.25rem;
    top: 0;
    font-size: 1.5rem;
    background-color: var(--color-white);
    color: var(--color-primary)
}

.timeline .timeline-date {
    font-size: var(--small-font-size);
    color: var(--color-gray)
}

.timeline .timeline-date.lni {
    margin-right: .3rem
}

.timeline .timeline-title {
    margin: var(--m-0-75) 0
}

.prices {
    flex: 0 0 33.33%;
    max-width: 33.33%
}

.price-item img {
    height: 150px;
    width: 150px
}

.prices:nth-child(odd) {
    margin-top: 1.5rem
}

.prices:nth-child(1) {
    padding-left: 15px
}

.prices:nth-child(3) {
    padding-right: 15px
}

.price-item {
    padding: var(--card-padding);
    background-color: var(--color-white);
    text-align: center;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    position: relative
}

.price-item h3.plan {
    margin: var(--m-0-75)
}

.prices p {
    margin-bottom: .5rem
}

.price-item .price {
    font-size: var(--h1-font-size);
    font-weight: var(--font-semi-bold)
}

.price-item .price em {
    font-style: normal;
    font-size: var(--small-font-size);
    margin-right: var(--m-0-5);
    vertical-align: super
}

.price-item .btn {
    margin-top: var(--m-1)
}

.price-item .best {
    padding: 3.25rem 2.5rem;
    z-index: 1;
    position: relative
}

.price-item .badge {
    position: absolute;
    left: 0;
    top: 1.5rem;
    color: #fff;
    background-color: var(--color-primary);
    transform: rotate(-90deg);
    padding: .4rem .75rem;
    font-size: var(--h3-font-size);
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0
}

.portfolio .portfolio-filter {
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    margin-bottom: var(--m-2-5)
}

.portfolio .portfolio-filter button {
    border: 0;
    background-color: transparent;
    text-transform: capitalize;
    margin: 0 var(--m-0-75);
    cursor: pointer;
    white-space: nowrap;
    color: var(--color-dark);
    transition: .3s
}

.portfolio .portfolio-filter button.active {
    color: var(--color-primary);
    position: relative
}

.portfolio .portfolio-filter button.active::before {
    content: '';
    position: absolute;
    bottom: -.75rem;
    left: 45%;
    width: .3rem;
    height: .3rem;
    background-color: var(--color-primary);
    border-radius: 50%
}

.portfolio-item {
    flex: 0 0 33.33%;
    max-width: 33.33%;
    margin-bottom: var(--m-1-5);
    margin-top: var(--m-1-5)
}

.portfolio-item.hide {
    display: none
}

.portfolio-item.show {
    display: block;
    animation: ShowItem .5s ease
}

@keyframes ShowItem {
    0% {
        transform: scale(0.6);
        opacity: 0
    }
    100% {
        transform: scale(1);
        opacity: 1
    }
}

.portfolio-item-inner {
    position: relative;
    overflow: hidden
}

.portfolio-item .mask {
    background-color: rgba(0, 0, 0, .9);
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s
}

.portfolio-item-inner:hover .mask {
    opacity: .9
}

.portfolio-item .term {
    color: #fff;
    background-color: var(--color-primary);
    border-bottom-left-radius: .98rem;
    border-bottom-right-radius: .98rem;
    position: absolute;
    top: 0;
    left: var(--m-1-5);
    font-size: var(--small-font-size);
    display: inline-block;
    padding: .19rem .625rem;
    transition: .3s;
    transform: translateY(-40px)
}

.portfolio-item h3 {
    color: #fff;
    font-size: 1.25rem;
    margin: 0 0 .98rem;
    padding: 0 1.25rem;
    position: absolute;
    top: 3.75rem;
    transition: .3s;
    transform: translateY(30px);
    opacity: 0
}

.portfolio-item .more-button {
    color: #fff;
    position: absolute;
    bottom: var(--m-1-5);
    left: var(--m-1-5);
    font-size: 1.6rem;
    display: block;
    background: var(--color-primary);
    height: 2.5rem;
    width: 2.5rem;
    cursor: pointer;
    border-radius: 50%;
    text-align: center;
    line-height: 28px;
    transition: .3s;
    opacity: 0
}

.portfolio-item-inner:hover h3,
.portfolio-item-inner:hover span {
    opacity: 1;
    transform: translateY(0)
}

.testimonial-wrapper {
    max-width: 700px;
    margin: auto
}

.testimonial-item {
    padding: 0 1.25rem 1.25rem;
    text-align: center
}

.testimonial-item .thumb {
    border-radius: 50%;
    overflow: hidden;
    height: 5.6rem;
    width: 5.6rem;
    margin: 0 auto
}

.testimonial-item h3 {
    margin-top: var(--m-0-75)
}

.testimonial-item .subtitle {
    color: var(--color-gray);
    font-size: var(--small-font-size)
}

.comment {
    background: var(--color-white);
    padding: var(--card-padding);
    margin: var(--m-1);
    border-radius: var(--border-radius)
}

.swiper-pagination {
    position: absolute;
    margin: var(--m-1);
    margin-bottom: -2px;
    text-align: center;
    padding-right: var(--m-1-5);
}

.swiper-pagination-bullet {
    width: .5rem;
    height: .375rem;
    background-color: var(--color-primary);
    opacity: 1
}

.swiper-pagination-horizontal.swiper-pagination-bullet {
    margin: 0 .2rem
}

.swiper-pagination-bullet-active {
    width: 1.2rem;
    height: .375rem;
    border-radius: .5rem
}

.swiper-elements {
    color: var(--color-primary);
}

.swiper-background {
    background-color: var(--color-dark);
}

.swiper-siir-p {
    font-family: 'Maven Pro', sans-serif;
    color: var(--color-white);
}

.pagination-div {
    margin: auto;
    position: relative;
    padding-top: 15px;
    background-color: var(--color-dark);
}

.siir-header {
    margin: 0 auto;
    text-align: center;
    flex: 1;
    background: var(--color-dark);
    color: var(--color-white);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
    font-style: italic;
    font-weight: bold;
}

.blog-item {
    flex: 0 0 33.33%;
    max-width: 33.33%;
    display: flex
}

.blog-item .inner {
    background: var(--color-white);
    overflow: hidden;
    border-radius: var(--border-radius);
    transform: translateY(0);
    transition: .3s
}

.blog-item .inner:hover {
    transform: translateY(-0.98rem)
}

.blog-item.thumb {
    position: relative;
    overflow: hidden
}

.blog-item .thumb img {
    transform: scale(1);
    transition: .3s
}

.blog-item .thumb:hover img {
    transform: scale(1.1)
}

.blog-item .category {
    background: var(--color-primary);
    border-bottom-left-radius: .98rem;
    border-bottom-right-radius: .98rem;
    color: #fff;
    font-size: var(--small-font-size);
    padding: .12rem .5rem;
    position: absolute;
    left: 1.25rem;
    top: 0;
    z-index: 1
}

.blog-item .details {
    padding: 1.25rem
}

.blog-item .details .title {
    line-height: 1.2
}

.blog-item .details .title a:hover {
    color: var(--color-primary)
}

.blog-item .meta {
    font-size: var(--small-font-size);
    color: var(--color-gray);
    margin-top: .5rem
}

.blog-item .meta li {
    display: inline-block
}

.blog-item .meta li:not(:last-child) {
    margin-right: .6rem
}

.blog-item .meta li::after {
    content: '';
    background: var(--color-gray);
    display: inline-block;
    height: .19rem;
    width: .19rem;
    margin-left: .6rem;
    vertical-align: middle
}

.blog-item.meta li:last-child::after {
    display: none
}

.contact-box {
    flex: 0 0 40%;
    max-width: 40%
}

.contact-form {
    flex: 0 0 60%;
    max-width: 60%
}

.contact-data {
    display: grid;
    row-gap: 2rem
}

.contact-subtitle {
    margin-bottom: var(--m-0-5)
}

.contact-description {
    display: inline-block;
    align-items: center;
    column-gap: .5rem
}

.contact-icon {
    font-size: 1.2rem
}

.contact-inputs {
    display: grid;
    row-gap: 2rem;
    margin-bottom: var(--m-2-5)
}

.contact-content {
    position: relative;
    height: 3rem;
    border-bottom: 2px solid var(--color-gray)
}

.contact-content span {
    position: absolute;
    bottom: -2px;
    left: 0;
    content: '';
    height: 2px;
    transition: .5s;
    width: 0;
    background: var(--color-primary)
}

.contact-input:focus~span {
    width: 100%
}

.contact-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1rem 1rem 1rem 0;
    background: 0;
    color: purple;
    outline: 0;
    border: 0;
    z-index: 1
}

.contact-label {
    position: absolute;
    top: .013rem;
    width: 100%;
    font-size: var(--small-font-size);
    transition: .3s
}

.contact-area {
    height: 7rem
}

.contact-area textarea {
    resize: none
}

.contact-input:focus+.contact-label {
    top: -.75rem;
    left: 0;
    z-index: 10;
    color: var(--color-primary)
}

.footer {
    padding: 80px 0;
    background: var(--color-primary)
}

.footer-text {
    text-align: center;
    color: var(--color-white)
}

.customize-theme {
    background: rgba(0, 0, 0, .4);
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    text-align: center;
    display: grid;
    place-items: center;
    font-size: var(--small-font-size);
    display: none
}

.customize-theme .card {
    background: var(--color-white);
    padding: 3rem;
    border-radius: var(--border-radius);
    width: 40%;
    max-width: 600px
}

.customize-theme .font-size {
    margin-top: var(--m-2-5)
}

.customize-theme .font-size>div {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-light);
    padding: .6rem 1rem;
    border-radius: var(--border-radius)
}

.customize-theme .choose-size {
    background: hsl(252, 100%, 90%);
    height: .35rem;
    width: 100%;
    margin: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center
}

.customize-theme .choose-size span {
    width: 1rem;
    height: 1rem;
    background: hsl(252, 100%, 90%);
    border-radius: 50%;
    cursor: pointer
}

.customize-theme .choose-size span.active {
    background: var(--color-primary)
}

.customize-theme .color {
    margin-top: var(--m-2)
}

.customize-theme .choose-color {
    background: var(--color-light);
    border-radius: var(--border-radius);
    padding: .6rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center
}

.customize-theme .choose-color span {
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 50%;
    background: var(--color-primary)
}

.customize-theme .choose-color span:nth-child(1) {
    background: hsl(252, 75%, 60%)
}

.customize-theme .choose-color span:nth-child(2) {
    background: hsl(52, 75%, 60%)
}

.customize-theme .choose-color span:nth-child(3) {
    background: hsl(352, 75%, 60%)
}

.customize-theme .choose-color span:nth-child(4) {
    background: hsl(152, 75%, 60%)
}

.customize-theme .choose-color span:nth-child(5) {
    background: hsl(202, 75%, 60%)
}

.customize-theme .choose-color span.active {
    border: 5px solid #fff
}

.customize-theme .background {
    margin-top: var(--m-2)
}

.customize-theme .choose-bg {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: .6rem
}

.customize-theme .choose-bg>div {
    padding: .8rem .2rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: .4rem;
    cursor: pointer
}

.customize-theme .choose-bg>div.active {
    border: 2px solid var(--color-primary)
}

.customize-theme .choose-bg .bg-1 {
    background: hsl(252, 30%, 92%);
    color: hsl(252, 30%, 17%)
}

.customize-theme .choose-bg .bg-2 {
    background: hsl(252, 30%, 17%);
    color: #fff
}

.customize-theme .choose-bg .bg-3 {
    background: hsl(252, 30%, 10%);
    color: #fff
}

.customize-theme .choose-bg>div span {
    width: 1.4rem;
    height: 1.4rem;
    border: 2px solid var(--color-gray);
    border-radius: 50%
}

@media screen and (max-width:992px) {
     :root {
        --h1-font-size: 1.75rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1rem;
        --normal-font-size: .938rem;
        --small-font-size: .813rem
    }
}

@media only screen and (max-width:1200px) {
    .customize-theme .card {
        width: 50vw
    }
}

@media only screen and (max-width:968px) {
    .about-content,
    .about-img {
        flex: 0 0 100%;
        max-width: 100%
    }
    .about-img {
        text-align: center;
        margin-bottom: var(--m-2-5)
    }
    .prices,
    .services .service-item {
        flex: 0 0 50%;
        max-width: 50%;
        margin-bottom: var(--m-2-5)
    }
    .price-item.best {
        padding: var(--card-padding)
    }
    .prices:nth-child(odd) {
        margin-top: 0
    }
    .prices:nth-child(1) {
        padding-right: 15px
    }
    .prices:nth-child(2) {
        padding-right: 15px;
        padding-left: 15px
    }
    .prices:nth-child(3) {
        padding-left: 15px
    }
    .customize-theme .card {
        width: 58vw
    }
}

@media only screen and (max-width:912px) {
    body {
        margin: var(--header-height) 0 0
    }
    .container {
        max-width: 568px
    }
    .nav {
        height: var(--header-height)
    }
    .nav-list {
        flex-direction: column;
        row-gap: 1.5rem
    }
    .nav-menu {
        position: fixed;
        background: var(--color-white);
        width: 80%;
        height: 100%;
        top: 0;
        right: -100%;
        padding: 4rem 0 0 3rem;
        border-radius: 1rem 0 0 1rem;
        z-index: 100;
        transition: .3s
    }
    .show-menu {
        right: 0
    }
    .nav-close,
    .nav-toggle {
        display: inline-flex
    }
    .contact-data,
    .contact-form,
    .prices,
    .education,
    .experiance,
    .services .service-item,
    .about-content .about-text,
    .about-content .skills {
        flex: 0 0 100%;
        max-width: 100%
    }
    .fact-item,
    .blog-item,
    .portfolio-item {
        flex: 0 0 50%;
        max-width: 50%
    }
    .about-content .about-text {
        margin-bottom: var(--m-1-5)
    }
    .contact-data,
    .blog-item,
    .education {
        margin-bottom: var(--m-2-5)
    }
    .customize-theme .card {
        width: 75vw
    }
}

@media only screen and (max-width:576px) {
    .blog-item,
    .portfolio-item {
        flex: 0 0 100%;
        max-width: 100%
    }
    .blog-item .inner,
    .portfolio-item-inner {
        max-width: 380px;
        margin: 0 auto
    }
    .timeline {
        padding: 25px 20px
    }
    .timeline .timeline-item {
        padding-left: 35px;
        padding-bottom: 20px
    }
    .customize-theme .card {
        width: 96vw;
        padding: 1rem
    }
}

@media only screen and (max-width:320px) {
    .fact-item {
        flex: 0 0 100%;
        max-width: 100%
    }
}

@media only screen and (max-height:810px) {
    .scroll-down {
        display: none
    }
}

@media only screen and (max-width:1120px) {
    .rounded {
        margin: 0 auto
    }
    .buttons {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 30px;
        justify-content: center;
        width: 100%;
        padding: 1px !important;
        font-size: .7rem
    }
}

@media only screen and (max-width:660px) {
    .wrapper {
        border: 1px solid transparent;
        padding: 30px;
        border-radius: 20px;
        width: 350px !important;
        box-shadow: rgba(0, 0, 0, 0.3) 0 19px 38px, rgba(0, 0, 0, 0.22) 0 15px 12px
    }
}

@media only screen and (max-width:818px) {
    .wrapper {
        border: 1px solid transparent;
        padding: 30px;
        border-radius: 20px;
        width: 650px;
        box-shadow: rgba(0, 0, 0, 0.3) 0 19px 38px, rgba(0, 0, 0, 0.22) 0 15px 12px
    }
}

@media only screen and (max-width:1060px) {
    .nav-btns {
        padding-right: 60px;
    }
}

.wrapper {
    border: 1px solid transparent;
    padding: 30px;
    border-radius: 20px;
    width: 650px;
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.3) 0 19px 38px, rgba(0, 0, 0, 0.22) 0 15px 12px
}

.details {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center
}

.track-art {
    margin: 25px;
    height: 250px;
    width: 250px;
    border: 2px solid #fff;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    -moz-box-shadow: 0 6px 5px #ccc;
    -webkit-box-shadow: 0 6px 5px #ccc;
    box-shadow: 0 6px 5px #ccc;
    -moz-border-radius: 190px;
    -webkit-border-radius: 190px;
    border-radius: 190px
}

.now-playing {
    font-size: 1rem
}

.track-name {
    font-size: 2.5rem;
    text-align: center
}

.track-artist {
    margin-top: 5px;
    font-size: 1.5rem
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 30px;
    justify-content: center
}

.active {
    color: #000
}

.repeat-track,
.random-track,
.playpause-track,
.prev-track,
.next-track {
    padding: 25px;
    opacity: .8;
    transition: opacity .2s
}

.repeat-track:hover,
.random-track:hover,
.playpause-track:hover,
.prev-track:hover,
.next-track:hover {
    opacity: 1
}

.slider_container {
    display: flex;
    justify-content: center;
    align-items: center
}

.seek_slider,
.volume_slider {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 5px;
    background: #83a9ff;
    -webkit-transition: .2s;
    transition: opacity .2s
}

.seek_slider::-webkit-slider-thumb,
.volume_slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: #fff;
    border: 3px solid #3774ff;
    cursor: pointer;
    border-radius: 100%
}

.seek_slider:hover,
.volume_slider:hover {
    opacity: 1
}

.seek_slider {
    width: 60%
}

.volume_slider {
    width: 30%
}

.current-time,
.total-duration {
    padding: 10px
}

i.fa-volume-down,
i.fa-volume-up {
    padding: 10px
}

i,
i.fa-play-circle,
i.fa-pause-circle,
i.fa-step-forward,
i.fa-step-backward {
    cursor: pointer
}

.randomActive {
    color: #000
}

.rotate {
    animation: rotation 8s infinite linear
}

@keyframes rotation {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(359deg)
    }
}

.loader {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center
}

.loader .stroke {
    background: #f1f1f1;
    height: 150%;
    width: 10px;
    border-radius: 50px;
    margin: 0 5px;
    animation: animate 1.4s linear infinite
}

@keyframes animate {
    50% {
        height: 20%;
        background: #4286f4
    }
    100% {
        height: 100%
    }
}

.stroke:nth-child(1) {
    animation-delay: 0
}

.stroke:nth-child(2) {
    animation-delay: .3s
}

.stroke:nth-child(3) {
    animation-delay: .6s
}

.stroke:nth-child(4) {
    animation-delay: .9s
}

.stroke:nth-child(5) {
    animation-delay: .6s
}

.stroke:nth-child(6) {
    animation-delay: .3s
}

.stroke:nth-child(7) {
    animation-delay: 0
}

.dropbtn {
    font-size: 11px;
    letter-spacing: 2px;
    padding: 5px 15px;
    border-radius: var(--border-radius);
    border: 0;
    color: #fff;
    background-color: var(--color-primary)
}

.dropdown {
    position: relative;
    display: inline-block;
    width: 2px
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block
}

.dropdown:hover .dropbtn {
    background-color: #6c6ce5
}